@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Prompt:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* 
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Prompt', sans-serif; // 500 600 700 900
font-family: 'Schibsted Grotesk', sans-serif; // 400 500 600 700 800 900
font-family: 'Space Grotesk', sans-serif; // 300, 400, 500, 600, 700
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

:root {
    --color-bg1: rgb(235, 229, 215);
    --color-bg2: rgb(227, 118, 100);
    --color1: 222, 128, 110;
    --color2: 235, 229, 215;
    --color3: 183, 199, 204;
    --color4: 226, 160, 117;
    --color5: 227, 118, 100;
    --color-interactive: 255, 128, 100;
    --circle-size: 80%;
    --blending: hard-light;
    --color: rgb(83, 78, 67);
}

.root {
    position: relative;
    z-index: 5;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    color: #333;
    scroll-behavior: smooth;
/*     
    cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='),
    auto;
 */
}

.mona {
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 900;
}

.inter {
    font-family: "Inter var", sans-serif;
}

.overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.overlay {
    position: relative;
    width: calc(100% / 12);
    height: 100vh;
    border-left: 1.2px solid rgb(188, 169, 158);
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
}

.gradient-bg>.gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.gradient-bg>svg {
    display: none;
}


.gradients-container>.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
}

.gradients-container>.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
}

.gradients-container>.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
}

.gradients-container>.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
}

.gradients-container>.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
}

.gradients-container>.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.home-btn {
    all: unset;
    position: absolute;
    top: 12%;
    left: 9%;
    font-size: 1.3rem;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 0px;
    text-decoration: underline;
    color: var(--color);
    font-weight: 700;
}

.main-name {
    position: absolute;
    top: 24%;
    left: 9%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);

    line-height: 93px;
    pointer-events: none;
}

.main-name>span {
    display: block;
    position: relative;
}

.main-name>span>span {
    font-size: 4rem;
    position: absolute;
    top: -20px;
}

.inline {
    display: inline;
}

.main-se {
    position: absolute;
    right: 8%;
    bottom: 10%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);
    line-height: 93px;
    text-align: end;
    pointer-events: none;
}

.main-se>span {
    display: block;
    position: relative;
}

.main-se>span>span {
    font-size: 4rem;
    position: absolute;
    top: -20px;
    left: 0;
}

.about-me {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.about-me>.about-me--desc {
    position: absolute;
    left: 9%;
    bottom: 24%;
    font-family: 'Space Grotesk', sans-serif;

    font-size: 2rem;
    color: var(--color);
    text-align: start;
    pointer-events: none;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: -2px;
    text-wrap: nowrap;
    word-spacing: 0px;
}

.about-me>.about-me--desc > span {
    display: block;
    position: relative;
}

.work {
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: relative;
}

.work-svg {
    z-index: 2;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    perspective: 400;
}

.project-link {
 border: 1px solid #000;
}

.project-link img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

#root {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0px;
}

canvas {
    transform: rotate(-10deg);
}

.ws {
    width: 100%;
    height: 2000px;
}

.projects-heading {
    position: relative;
    top: 0%;
    left: 9%;
    /* transform: translateY(200%); */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);

    line-height: 93px;
    pointer-events: none;
}