@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Prompt:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Bebas Neue', sans-serif; */
    /* // 500 600 700 900 */
    /* font-family: 'Prompt', sans-serif;  */
    /* // 400 500 600 700 800 900 */
    /* // 300, 400, 500, 600, 700 */
    /* font-family: 'Space Grotesk', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

:root {
    --color-bg1: rgb(255, 170, 0);
    --color-bg2: rgb(255, 38, 0);
    --color1: 255, 214, 48;
    --color2: 255, 0, 0;
    --color3: 255, 191, 255;
    --color4: 255, 0, 195;
    --color5: 255, 255, 170;
    --color-interactive: 255, 255, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

::selection {
    background-color: #000;
    color: #fff;
}

.root {
    position: relative;
    z-index: 5;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    color: #333;
    scroll-behavior: smooth;
    /*     
    cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='),
    auto;
 */
}

.mona {
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 900;
}

.inter {
    font-family: "Inter var", sans-serif;
}

.overlays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.overlay {
    position: relative;
    width: calc(100% / 12);
    height: 100vh;
    border-left: 1.2px solid rgb(188, 169, 158);
}
:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
    --color: rgb(255, 255, 255);

  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
  }
  .gradient-bg svg {
    display: none;
  }
  .gradient-bg .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }
  .gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
  }
  .gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
  }
  .gradient-bg .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
  }
  .gradient-bg .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
  }
  .gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
  }
  .gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }


.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    transition: opacity .2s ease-in;
    opacity: 0;
}



.home-btn {
    all: unset;
    position: absolute;
    top: 12%;
    left: 9%;
    font-size: 1.3rem;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 0px;
    text-decoration: underline;
    color: var(--color);
    font-weight: 700;
}

.main-name {
    position: absolute;
    top: 24%;
    left: 9%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);

    line-height: 93px;
    pointer-events: none;
    opacity: 70%;
}

.main-name>span {
    display: block;
    position: relative;
}

.main-name>span>span {
    font-size: 4rem;
    position: absolute;
    top: -20px;
}

.inline {
    display: inline;
}

.main-se {
    position: absolute;
    right: 8%;
    bottom: 10%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);
    line-height: 93px;
    text-align: end;
    pointer-events: none;
    opacity: 70%;
}

.main-se>span {
    display: block;
    position: relative;
}

.main-se>span>span {
    font-size: 4rem;
    position: absolute;
    top: -20px;
    left: 0;
}

.about-me {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    transition: opacity .2s ease-in;
    opacity: 0;
}

.about-me>.about-me--desc {
    position: absolute;
    left: 9%;
    bottom: 13%;
    font-family: 'Space Grotesk', sans-serif;

    font-size: 1.9rem;
    color: var(--color);
    text-align: start;
    pointer-events: none;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: -2px;
    text-wrap: nowrap;
    word-spacing: 0px;
    opacity: 80%;

}

.about-me>.about-me--desc>span {
    display: block;
    position: relative;
}

.about-me--pers {
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    right: 8%;
    top: 24%;
    color: var(--color);
    font-size: 1.8rem;
    line-height: 1.5;
    word-spacing: 0px;
    font-weight: 900;
    text-align: right;
    letter-spacing: -2px;
    text-wrap: nowrap;
    opacity: 80%;

}

.about-me--pers > span {
    display: block;
}

.work {
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: relative;
}

.work-svg {
    z-index: 2;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    perspective: 400;
}

.project-link {
    border: 1px solid #000;
}

.project-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#root {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0px;
    z-index: 10;
    transition: transform 1s ease-out;
}

canvas {
    transform: rotate(-7deg);
}

.ws {
    width: 100%;
    height: 2500px;
}

.projects-heading {
    position: sticky;
    top: 0%;
    /* left: 9%; */
    transform: translate(10%, 70%);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);
    z-index: 12;
    line-height: 93px;
    pointer-events: none;
    opacity: 80%;
    transition: opacity .3s ease-out;
}

.main-menu--btn {
    width: 20px;
    height: 2px;
    position: fixed;
    right: 100px;
    top: 70px;
    background: var(--color);
    transition: all .3s ease-out;
    will-change: width;
}

.main-menu--btn::after {
    content: "";
    width: 40px;
    height: 2px;
    position: fixed;
    right: 100px;
    top: 80px;
    background: var(--color);
}

.menu-container {
    position: fixed;
    right: 97px;
    top: 45px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.menu-container:hover .main-menu--btn {
    width: 40px;

}

.menu-container:hover {
    cursor: pointer;
}

.cm-cont {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.cm-cont svg {
    width: 1.5rem;
    margin-right: .8rem;
    fill: var(--color);
    transition: transform .1s linear;
    cursor: pointer;
}

.ct-svgs a {
    display: inline-block;
}

.ct-svgs a:first-child {
    margin-left: 6rem;
}


.cm-cont svg:hover {
    transform: scale(.9);
}

.cm-cont > a:first-child {
    margin-left: 6rem;
}

.crt {
    margin: 0 6rem 0 auto;
    color: var(--color);
    font-family: 'Space Grotesk', sans-serif;
    text-align: end;

}

.crt-name {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -1.8px; 
    word-spacing: 1.3px;
}

.crt-quote {
    color: hsla(0, 0%, 100%, 0.65);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.ct-cont {
    display: flex;
    flex-direction: column;
}

.ct-btn {
    all: unset;
    font-size: 1.3rem;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: underline;
    margin-left: 6rem;
}

.rotate {
    animation: rotate 1s linear 0s infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.proj-hov-name {
    position: absolute;
    z-index: 5;
    bottom: 12px;
    right: 9%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: var(--color);
    line-height: 93px;
    text-align: end;
    pointer-events: none;
    opacity: 70%;
}

#ht-about-me {
    width: 100%;
    height: 30vh;
    position: relative;
    top: 0px;
    margin-bottom: 10vh;
}


#ht-main {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: 100vh;
    margin-top: 50px;
}


.container-circle {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .circle-circle {
    position: absolute;
    left: 50%;
    bottom: 50px;
    animation: rotate 20s linear 0s infinite;
  }
  
  
  .d-arr {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-30%, -50%) scale(1.5);
    opacity: 80%;
    color: var(--color);

  }

  .rotating-text {
    font-family: 'Anton', sans-serif;
    color: var(--color);
    opacity: 80%;
    font-weight: 900;
  }
  

  @media (max-width: 768px) {
    body {
        overflow-x: hidden !important;
        width: 100vw !important;
    }
    .container-circle {
        width: 100vw !important;
    }
    .main {
        width: 100vw !important;
    }
    .about-me {
        width: 100vw !important;
    }
    .about-me--desc {
        font-size: 1.3rem !important;
        left: 3% !important;
        bottom: 30% !important;
    }
    .about-me--pers {
        font-size: 1.3rem;
        right: 3%;
    } 
    .main-name {
        font-size: 4rem;
        line-height: 60px;    
    }
    .main-name > span > span {
        font-size: 2rem;
        transform: translateY(10px);
    }

    .main-se {
        font-size: 4rem;
        line-height: 60px;
        bottom: 30%;
    }
    .main-se > span > span {
        font-size: 2rem;
        transform: translateY(10px);
    }
    .projects-heading {
        font-size: 5rem;
        display: inline-block;
        opacity: 70%;
    }
    canvas {
        transform: unset;
    }
    .proj-hov-name {
        font-size: 4rem;
        bottom: 148px;
        line-height: 50px;
    }
    .ct-btn {
        margin-left: 0;
    }
    .ct-svgs a:first-child {
        margin-left: 0;
    }
    .crt {
        margin-right: 0;
    }
    .ws {
        height: 3500px;
    }
}