# Dependencies
/node_modules

# Parcel cache
/.parcel-cache

# Production build folder
/dist

# Optional - Environment variables
.env

# Optional - Editor directories and files
.idea
*.sublime-workspace

a1.svg
a2.svg
work.svg
/plugins